.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--page-padding);
    text-align: center;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
}

.illustration {
    width: min-content;
}

.illustration img {
    width: 100%;
}

.input,
.button {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .main {
        text-align: left;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .inner {
        flex-direction: row;
    }

    .content {
        height: min-content;
        width: 50%;
    }

    .illustration {
        height: clamp(100px, 30vw, 475px);
    }

    .illustration img {
        width: min-content;
        height: 100%;
        width: unset;
    }

    .title {
        max-width: 600px;
    }

    .flavorText {
        max-width: 575px;
    }

    .input {
        max-width: 320px;
    }

    .button {
        max-width: 200px;
        margin-left: 1rem;
    }
}
