.main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: var(--page-padding);
    background-color: var(--primary);
    color: #fff;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main h2 {
    color: #fff;
}

.main input {
    width: 100%;
}

.content {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
}

.form button {
    width: 100%;
    white-space: nowrap;
}

@media screen and (min-width: 600px) {
    .main {
        text-align: left;
    }

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .content {
        width: 40%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
        width: 40%;
    }

    .form button {
        width: min-content;
    }
}
