.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--page-padding);
    background-color: var(--primary-dark);
    color: #fff;
}

.inner {
    width: 100%;
}

.brand {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2.5rem;
}

.brand img {
    height: 2.5rem;
    filter: brightness(0) invert(1);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    width: 21%;
}

.column:first-child {
    width: 37%;
}
