@import url('./normalize.css');

:root {
    --page-max-width: 1280px;

    --font-primary: 'Open Sans', sans-serif;
    --font-display: 'Raleway', sans-serif;

    --primary: hsl(238, 22%, 44%);
    --primary-dark: hsl(243, 87%, 12%);
    --accent-blue: hsl(224, 93%, 58%);
    --accent-blue-lighter: #6b9bff;
    --accent-cyan: hsl(170, 45%, 43%);
    --neutral-gray-blue: #f8f8fe;
    --neutral-gray: hsl(0, 0%, 75%);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-dark);
    font-family: var(--font-display);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    letter-spacing: 0.5px;
    line-height: 23px;
    margin-bottom: 24px;
}

input,
.input,
button,
.button {
    font-size: 0.875rem;
    letter-spacing: 0.1px;
    border-radius: 3px;
}

input,
.input {
    height: 48px;
    padding: 16px;
    vertical-align: bottom;
    border: 0;
}

:focus {
    outline: 0;
}

::placeholder {
    color: var(--neutral-gray);
}

.input-primary {
    border: 1px solid var(--primary);
}

button,
.button {
    font-family: var(--font-display);
    font-weight: bold;
    text-align: center;
    height: 48px;
    padding: 0.75rem 2rem;
    cursor: pointer;
    border: 0;
}

.shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-primary {
    background-color: var(--accent-blue);
    color: #fff;
}

.button-primary:hover {
    background-color: var(--accent-blue-lighter);
}

.max-width {
    max-width: var(--page-max-width);
}

@media screen and (min-width: 600px) {
    html,
    body {
        font-size: 16px;
    }
}
